<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </link>
    
</head>
<body>
   <!-- make a table for the data.  -->
  <table class="table table-striped table-bordered">
  <tr>
  <th>Beer Name</th>
  <th>Style Name</th>
  <th>Share it!</th>
  
  </tr>
   
  <tr th:each="prod: ${beerNames}">
  <td th:text="${prod.name}"></td>
  <td th:text="${prod.style.name}"></td>
  <td >
    <!-- make the share button to twitter. -->
  <a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-url=""
  data-via="twitterbeers"
  data-related="twitterapi,twitter"
  data-hashtags="beers"
  data-text="I like this beer!"
  >Share in twitter!</a>
 

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  </script>




</td>
  </tr>
  
  
 
</table>
  

</body>
</html>